<!-- Validation failure messages -->
<% if @game.errors.any? %>
<% @game.errors.full_messages.each do |message| %>
<div class="alert alert-dismissable alert-danger">
  <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
  <%= message %>
</div>
<% end %>
<% end %>

<div class="page-header">
  <h3>Add Game</h3>
</div>

<div class="row">
  <div class="col-md-12">
    <form action="/create_game" method="post">
      <!-- Hidden input for authenticity token to protect from forgery -->
      <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>">

      <!-- Label and input for datetime -->
      <div class="form-group">
        <label for="datetime" class="control-label">
          Time and Date
        </label>

        <!-- <div class='input-group date' id='datetime'>
          <input type='text' class="form-control" name="held_on" id="datetime">
          <span class="input-group-addon">
            <span class="glyphicon glyphicon-calendar"></span>
          </span>
        </div>

        <script type="text/javascript">
        $(function () {
          $('#datetime').datetimepicker();
        });
        </script> -->

        <input type="text" id="datetime" name="datetime" placeholder="Datetime" class="form-control" value="<%= @game.datetime %>">
      </div>

      <!-- Label and input for location -->
      <div class="form-group">
        <label for="location" class="control-label">
          Location
        </label>

        <input type="text" id="location" name="location" placeholder="e.g. The Quist" class="form-control" value="<%= @game.location %>">
      </div>

      <button class="btn btn-success">
        Create Game
      </button>
      or
      <a href="/games">Cancel</a>
    </form>
  </div>
</div>
